<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search Department</title>
</head>
<body>
	<div layout:fragment="content" class = "col-12 col-sm-9"></div>
	<form th:action="@{/department/search}" method = "get">
		<input name = "keyword" placeholder="Tim theo ten">
		<button>Search</button>
	</form>
	
	<div th:each = "department: ${list}">
	<p>
	<span>ID:</span>
	<span th:text="${department.id}"></span>
	</p>
		<p>
	<span>Name:</span>
	<span th:text="${department.name}"></span>

	</p>
		<p>
	<a th:href="@{'/department/delete?id=' + ${department.id}}">Delete</button></a>
	<a th:href="@{'/department/update?id=' + ${department.id}}">Update</button></a>
		</p>
	</div>

</body>
</html>