<!DOCTYPE html>
<html layout:decorator="home.html"> <!--  extend lai file home --> 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Search Department</title>
</head>
<body>
  <div layout:fragment="content" class="col-12 col-sm-9">	
		<div class="row">
			<form th:action="@{/department/search}" method="get">
				<div class="row">
					<div class="col-12 col-md-4">
						<input type="text" class="form-control" name="name"
							placeholder="Tìm kiếm theo ten:...">
					</div>
					<div class="col-12 col-md-4">
						<input type="text" class="form-control" name="id"
							placeholder="Tìm kiếm theo Id:...">
						
					</div>
					
						<div class="col-12 col-md-4">
						<select name = "sortBy">
						<option value="">chon</option>
						<option value="name">ten</option>
						<option value="date">ngay tao</option>
						</select>
						</div>
					<div class="col-12 col-md-2">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
					<div class="col-12 col-md-2">
						<a th:href="@{/department/create}" class="btn btn-secondary">Add</a>
					</div>
				</div>
			</form>
		</div>
		<hr />
		<div class="row">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>CreatedAt</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="department : ${list}">
						<td th:text="${department.id}"></td>
						<td th:text="${department.name}"></td>
						<td th:text="${#dates.format(department.createdAt, 'dd-MM-yyyy')}"></td>
						<td><a class="text-danger" 
							th:href="@{'/department/delete?id=' + ${department.id}}">Delete</a>
							<a th:href="@{'/department/update?id=' + ${department.id}}">Update</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item"><a class="page-link" 
				th:href="@{'/department/search?page='+ ${page - 1 < 0 ? 0 : (page - 1)} + '&sortBy=' + ${sortBy}}">Previous</a></li>

				<li th:if="${totalPage > 0}" th:each="i: ${#numbers.sequence(0, totalPage - 1)}"
					class="page-item"><a class="page-link"
					th:href="@{'/department/search?page='+ ${i} + '&name=' + ${name} }" th:text="${i}"></a></li>

				<li class="page-item"><a class="page-link"
					th:href="@{'/department/search?page='+ ${page + 1 >= totalPage ? (totalPage - 1) : (page + 1) } + '&name=' + ${name}}">Next</a></li>

			</ul>
		</div>
	</div>
</body>
</html>